.form-events{
	table{
		border-collapse: collapse;
		width: 100%;

		td, th{
			border: 0px solid #f1aaed;
			padding: 8px;
			text-align: left;
		}
		tr:nth-child(even){
			background-color: #ddd;
		}
		tr:hover{
			background-color: #be44b6;
			color: white;
		}

		th{
			min-width: 10px;
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: center;
			background-color: #6e1e69;
			color: rgb(255, 255, 255);
		}
	}
}