.base-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	.header {
		font-size: 3em;
		font-family: "Roboto", sans-serif;
		color: rgb(202, 61, 195);
		padding: 10px;
		margin-bottom: 0.5em;
	}
	.top-system-right-btn{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		//align-items: ;
		
		button{
			
			background: transparent;
			border: 0.1px solid;
			border-color: rgb(211, 59, 203);
			color: rgb(211, 59, 203);
			font-family: "Roboto", sans-serif;
			cursor: pointer;
			padding: 8px;
			transition: all 200ms ease-in-out;
			border-radius: 2px;
		}
		button:hover{
			background-color: #6e1e69;
			border-color: rgb(49, 20, 47);
			color: rgb(230, 169, 217);
			border: 0.3px solid;
			font-weight: 1000;

		}
	}

	.content{
		display: flex;
		flex-direction: column;

		.image {
			width: 22em;
			img{
				width: 70%;
				height: 70%;
			}
		}
	
		.form-login{
			//margin-top: 2em;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.form__group {
			position: relative;
			padding: 15px 0 0;
			margin-top: 10px;
			width: 50%;
		}
		
		.form-login-group {
			position: relative;
			padding: 15px 0 0;
			//margin-bottom: 15px;
			width: 90%;
		  }

		.form-login-field{
			width: 100%;
			border: 1px;
			border-bottom: 1px solid;
			border-color:  rgb(211, 59, 203);
			background: transparent;
			transition: border-color 0.2s;
			color: rgb(187, 94, 182);
			outline: 0;
			//font-size: 1rem;
			border-width: 1px;
			border-image-slice: 1;
			padding: 15px 0;


			&::placeholder{
				color: transparent;
			}
			&:placeholder-shown ~ .form-login-label {
				font-size: 1.3rem;
				cursor: text;
				top: 10px;
				
			}
		}
		.form-login-label{
			position: absolute;
			top: 0;
			display: block;
			transition: 0.2s;
			font-size: 1.3rem;
			color: rgb(177, 70, 170);
		}

		.form-login-field:focus{
			~ .form-login-label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 0.9rem;
				color: rgb(190, 32, 180);
				font-weight:700;
			}
			//padding-bottom: 6px;  

			border-width: 1px;
			border-image: linear-gradient(to right, rgb(211, 59, 203), rgb(255, 126, 249));
			border-image-slice: 1;
		}
		
		input:-webkit-autofill,
		input:-webkit-autofill:hover,
		input:-webkit-autofill:focus,
		input:-webkit-autofill:active  {
			~ .form-login-label {
				position: absolute;
				top: 0;
				display: block;
				transition: 0.2s;
				font-size: 0.9rem;
				color: rgb(190, 32, 180);
				font-weight:700;
				font-size: 1rem;
			}
			border-width: 1px;
			border-image: linear-gradient(to right, rgb(211, 59, 203), rgb(255, 126, 249));
			border-image-slice: 1;

    		box-shadow: 0 0 0 30px rgb(255, 242, 254) inset !important;
			-webkit-text-fill-color: rgb(211, 59, 203) !important;
			-webkit-text-size-adjust: 0.7rem !important;
		}
	}



	.footer{
		margin-top: 3em;
	}
}